name: "{{.package_name}}"
version: "1.0.0"
config-version: 2
profile: product

model-paths: ["models"]
macro-paths: ["macros"]
test-paths: ["tests"]
seed-paths: ["seeds"]

clean-targets: ["target", "dbt_packages"]

models:
  {{.package_name}}:
    +materialized: table
